name: CI

on:
  push:
    branches: [master]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-action/setup@v1
      - run: cargo clippy -- -D warnings
      - run: cargo test
      - run: cargo fmt -- --check
